.date-picker {
    text-align: center;
    margin: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
  
    .date-input {
      border: 1px solid #ccc;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
    }
  }
  