$main-text: #333333;
$button-color: #007bff;
$secondary-button-color: #ffffff;
$hover-color: #0056b3;
$light-text-color: #ffffff;
$border-color: #ffffff;
$background-color: #000000;
$background-box: #3B3A36;
$scrollbar-thumb-color: #888888;
$scrollbar-thumb-hover-color: #555555;